LOCAL_DATABASE=mongodb://localhost:27017/HR-System
PORT=4000
JWT_ACCESS_TOKEN_SECRET=your-secret-access-token
JWT__ACCESS_TOKEN_EXPIRES_IN=15m
JWT_REFRESH_TOKEN_SECRET=your-secret-refresh-token
JWT_REFRESH_TOKEN_EXPIRES_IN=7d
JWT_RESET_PASSWORD_SECRET=your-secret-reset-password-token
COOKIES_EXPIRES_IN =7d
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=your-mailtrap-port
MAIL_USERNAME=your-mailtrap-username
MAIL_PASSWORD=your-mailtrap-password
MAIL_FROM=HR Management <noreply@hr.com>
CLIENT_URL=http://localhost:5173